/* 
Charleston Green: rgb(37, 48, 49)
Dark Slate: rgb(94, 159, 163)
Celadon Blue: rgb(41, 120, 160)
Ecru (tan): rgb(188, 171, 121)
Beau Blue: rgb(198, 224, 255)
*/


html {
    background-color: rgb(37, 48, 49);
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------- NAV -------------- */
nav {
    width: 100%;
    height: 45px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(94, 159, 163);
    border-radius: 5px;
}

#nav1 {
    padding-top: 5px;
    padding-left: 20px;
    align-self: center;
    justify-self: flex-start;
}

#nav2 {
    justify-self: center;
    padding-right: 20px;
}

#nav3 {
    justify-self: end;
    padding-right: 20px;
}

/* ---------- Main ---------- */
main {
    background-color: rgba(191, 213, 214, 0.808);
    border-radius: 5px;
}

#topArea {
    width: 100%;
    display: flex;
    text-align: center;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

#instructionButtonBox {
    width: 20%;
    border: 1px solid rgb(118, 158, 153);
    border-radius: 5px;
    background-color: rgba(173, 173, 173, 0.418);
    box-shadow: 1px -1px 5px 1px rgba(0, 0, 0, 0.335);

}

#instructions {
    display: flex;
    justify-content: center;
}

#buttonArea {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

button {
    background-color: rgb(188, 171, 121);
    border: 1px solid rgba(21, 111, 172, 0.952);
    box-shadow: 1px -1px 5px 1px rgba(0, 0, 0, 0.335);
    border-radius: 4px;
    font: 1em sans-serif;
}

#displayArea {
    width: 100%;
    height: auto;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;    
    align-items: flex-start;
}

/* ----- Table Styles ------ */
table {
    width: 15em;
    box-shadow: 1px -1px 5px 1px rgba(0, 0, 0, 0.335);
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    font-size: 1.5rem;
    text-align: left;
    background-color: rgba(4, 130, 240, 0);
}


thead {
    text-align: center;    
}

thead:first-child tr:first-child th:first-child {
    background-color: rgba(74, 89, 90, 0.404);
}

table tr:nth-child(even) {
    background-color: rgb(246, 248, 231);
}

table tr:nth-child(odd) {
    background-color: rgba(45, 212, 224, 0.404);
}




